// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
    spawn-sh-at-startup "qs -c noctalia-shell"
    spawn-sh-at-startup "sleep 3 && Telegram -startintray"
    spawn-sh-at-startup "zen-browser"
    spawn-at-startup "sh" "-c" "until niri msg windows 2>/dev/null | grep -q 'zen-browser'; do sleep 0.5; done && niri msg action expand-column-to-available-width"
    spawn-at-startup "wl-paste" "--watch" "cliphist" "store"

    spawn-sh-at-startup "sunshine"
	spawn-at-startup "~/polacz_tablet.sh"
	
    spawn-at-startup "python3" "/home/shin/.local/bin/niri-tracker.py"
	
    spawn-sh-at-startup "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"
