binds {

		Alt+A { spawn "/home/shin/.config/niri/wtype-if-not-obsidian" "ä" "a"; }
		Alt+Shift+A { spawn "/home/shin/.config/niri/wtype-if-not-obsidian" "Ä" "a" "shift"; }
		Alt+O { spawn "/home/shin/.config/niri/wtype-if-not-obsidian" "ö" "o"; }
		Alt+Shift+O { spawn "/home/shin/.config/niri/wtype-if-not-obsidian" "Ö" "o" "shift"; }
		Alt+U { spawn "/home/shin/.config/niri/wtype-if-not-obsidian" "ü" "u"; }
		Alt+Shift+U { spawn "/home/shin/.config/niri/wtype-if-not-obsidian" "Ü" "u" "shift"; }
		Alt+S { spawn "/home/shin/.config/niri/wtype-if-not-obsidian" "ß" "s"; }
	//	Alt+E { spawn "/home/shin/.config/niri/wtype-if-not-obsidian" "ë" "e"; }
		Alt+Shift+E { spawn "/home/shin/.config/niri/wtype-if-not-obsidian" "Ë" "e" "shift"; }

    // ─── Applications ───
    Mod+Tab                         hotkey-overlay-title="Open Terminal: kitty" { spawn "kitty"; }
    Mod+O                     		hotkey-overlay-title="Open App Launcher: noctalia launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+F                           hotkey-overlay-title="Open Browser: zen-browser" { spawn "zen-browser"; }
    Mod+T                           hotkey-overlay-title="Open Telegram" { spawn "Telegram"; }    
    Mod+D { spawn "vesktop"; } 
    Mod+shift+D 					{ spawn "/home/shin/bin/launch-discord.sh"; }   
	Mod+P 							{ spawn "sh" "-c" "~/.config/niri/toggle_border.sh"; }
	Mod+Period						{ spawn "~/polacz_tablet.sh"; }

	Mod+Y 								{ spawn "/home/shin/tlo"; }
	Mod+Shift+Y 						{ spawn "pkill" "-f" "tlo-layer"; }


	Mod+V 								{ spawn-sh "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"; }

	
    Mod+Backspace                       hotkey-overlay-title="File Manager: Nautilus" { spawn "nautilus"; }


	Mod+N         						{ focus-column-right; }
    Mod+A            					{ focus-column-left; }
	Mod+K 								{ switch-preset-column-width; }
	Mod+CTRL+F                          { expand-column-to-available-width; }
	Mod+C                               { center-column; }
	Mod+Shift+T                         { toggle-window-floating; }
	Mod+Shift+F                         { fullscreen-window; }
	//Mod+Backspace                       repeat=false { toggle-overview; }
	CTRL+Shift+S                    	{ screenshot; }

    // ─── Media Controls ───
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    //XF86AudioMute                     allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }
    F1                     				allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }
    XF86AudioNext                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media next"; }
    XF86AudioPrev                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media previous"; }
    XF86AudioPlay                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }
    XF86AudioPause                      allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call media playPause"; }

   
    Mod+Q                               { close-window; }


   

    // ─── Workspace Switching ───
    Mod+WheelScrollDown                 cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp                   cooldown-ms=150 { focus-workspace-up; }
   

    Mod+WheelScrollRight                { focus-column-right; }
    Mod+WheelScrollLeft                 { focus-column-left; }   

    Mod+1                               { focus-workspace 1; }
    Mod+2                               { focus-workspace 2; }
    Mod+3                               { focus-workspace 3; }
    Mod+4                               { focus-workspace 4; }
    Mod+5                               { focus-workspace 5; }
    Mod+6                               { focus-workspace 6; }
    Mod+7                               { focus-workspace 7; }
    Mod+8                               { focus-workspace 8; }
    Mod+9                               { focus-workspace 9; }

    Mod+I								{ focus-workspace-down; }
    Mod+E								{ focus-workspace-up; }
  
}
