output "DP-1" {
        mode "2560x1440@144.000"
        position x=0 y=0
        focus-at-startup
    }
    
output "DP-2" {
        mode "1920x1080@143.980"
        position x=2560 y=0
        transform "90"
    }

output "HDMI-A-2" {
        mode "1920x1080@60.000"
        scale 1.3
        position x=0 y=1080
    }


