// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            file "/etc/nixos/niri/keymap.xkb"
        }
        numlock // Enable numlock on startup
    }

    workspace-auto-back-and-forth // Enable workspace back & forth switching
    focus-follows-mouse max-scroll-amount="0%"
}
