binds {

                Alt+A { spawn "/etc/nixos/scripts/wtype-if-not-obsidian" "ä" "a"; }
                Alt+Shift+A { spawn "/etc/nixos/scripts/wtype-if-not-obsidian" "Ä" "a" "shift"; }
                Alt+O { spawn "/etc/nixos/scripts/wtype-if-not-obsidian" "ö" "o"; }
                Alt+Shift+O { spawn "/etc/nixos/scripts/wtype-if-not-obsidian" "Ö" "o" "shift"; }
                Alt+U { spawn "/etc/nixos/scripts/wtype-if-not-obsidian" "ü" "u"; }
                Alt+Shift+U { spawn "/etc/nixos/scripts/wtype-if-not-obsidian" "Ü" "u" "shift"; }
                Alt+S { spawn "/etc/nixos/scripts/wtype-if-not-obsidian" "ß" "s"; }
                Alt+Shift+E { spawn "/etc/nixos/scripts/wtype-if-not-obsidian" "Ë" "e" "shift"; }

    // ─── Applications ───
    Alt+Y                           hotkey-overlay-title="Open YouTube Music" { spawn "zen" "--new-instance" "https://music.youtube.com/"; }
    Mod+Tab                         hotkey-overlay-title="Open Terminal: kitty" { spawn "kitty"; }
    Mod+O                               hotkey-overlay-title="Open App Launcher: noctalia launcher" { spawn-sh "noctalia-shell ipc call launcher toggle"; }
    Mod+F                           hotkey-overlay-title="Open Browser: zen" { spawn "zen"; }
    Mod+T                           hotkey-overlay-title="Open Telegram" { spawn "Telegram"; }    
    Mod+D { spawn "vesktop"; } 
        Mod+Period                                              { spawn "/etc/nixos/scripts/polacz_tablet.sh"; }

        Mod+Escape { spawn "bash" "-c" "/etc/nixos/scripts/voice-note"; }


    Mod+Y { spawn "bash" "-c" "WAYLAND_DISPLAY=$WAYLAND_DISPLAY bash /etc/nixos/scripts/tlo"; }
        Mod+Shift+Y                                             { spawn "pkill" "-f" "tlo-layer"; }


//      Mod+V                                                           { spawn-sh "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"; }


    Mod+Backspace                       hotkey-overlay-title="File Manager: Nautilus" { spawn "nautilus"; }


        Mod+N                                                   { focus-column-right; }
    Mod+A                                               { focus-column-left; }
        Mod+K                                                           { switch-preset-column-width; }
        Mod+CTRL+F                          { expand-column-to-available-width; }
        Mod+C                               { center-column; }
        Mod+Shift+T                         { toggle-window-floating; }
        Mod+Shift+F                         { fullscreen-window; }
    Mod+P                     { toggle-window-rule-opacity; }
        //Mod+Backspace                       repeat=false { toggle-overview; }
        CTRL+Shift+S                            { screenshot; }

    // ─── Media Controls ───
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "noctalia-shell ipc call volume decrease"; }
    //XF86AudioMute                     allow-when-locked=true { spawn-sh "noctalia-shell ipc call volume muteInput"; }


    F3                                  { spawn "sh" "-c" "/etc/nixos/scripts/brightness.sh down"; }
    F2                                                                  { spawn "sh" "-c" "/etc/nixos/scripts/brightness.sh up"; }
    F1                                                  allow-when-locked=true { spawn-sh "noctalia-shell ipc call volume muteInput"; }
    XF86AudioNext                       allow-when-locked=true { spawn-sh "noctalia-shell ipc call media next"; }
    XF86AudioPrev                       allow-when-locked=true { spawn-sh "noctalia-shell ipc call media previous"; }
    XF86AudioPlay                       allow-when-locked=true { spawn-sh "noctalia-shell ipc call media playPause"; }
    XF86AudioPause                      allow-when-locked=true { spawn-sh "noctalia-shell ipc call media playPause"; }

   
    Mod+Q                               { close-window; }


   

    // ─── Workspace Switching ───
    Mod+WheelScrollDown                 cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp                   cooldown-ms=150 { focus-workspace-up; }
   

    Mod+WheelScrollRight                { focus-column-right; }
    Mod+WheelScrollLeft                 { focus-column-left; }   

    Mod+1                               { focus-workspace 1; }
    Mod+2                               { focus-workspace 2; }
    Mod+3                               { focus-workspace 3; }
    Mod+4                               { focus-workspace 4; }
    Mod+5                               { focus-workspace 5; }
    Mod+6                               { focus-workspace 6; }
    Mod+7                               { focus-workspace 7; }
    Mod+8                               { focus-workspace 8; }
    Mod+9                               { focus-workspace 9; }

    Mod+I                                                               { focus-workspace-down; }
    Mod+E                                                               { focus-workspace-up; }
  
}
