// 1. Podstawowe zasady wyglądu (zaokrąglenia)
window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}

// 2. Domyślna przezroczystość dla wszystkich okien
window-rule {
    opacity 0.85
}

window-rule {
    opacity 0.5
    match is-focused=true
}


window-rule {
    draw-border-with-background false
}

window-rule {
    match app-id="niri-bg-box"
    focus-ring { off; }
}
window-rule {
    match app-id="filmik-tlo"
    open-floating true
    focus-ring { off; }
    draw-border-with-background false
}

// Reguła naprawiająca przezroczystość na pełnym ekranie
window-rule {
    match is-fullscreen=true is-focused=true
    
    // 1. Ustawiasz taką przezroczystość, jaką chcesz mieć na fullscreenie (np. 0.85)
    opacity 0.85
    
    // 2. Blokujesz direct-scanout, aby Niri w ogóle renderowało przezroczystość pod spodem
    block-out-from "direct-scanout"
}
